[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/named-data/ndn-cxx.git
[submodule "ndn-tools"]
	path = ndn-tools
	url = https://github.com/named-data/ndn-tools.git
[submodule "NFD"]
	path = NFD
	url = https://github.com/named-data/NFD.git
